@import url(http://fonts.googleapis.com/css?family=Lato|Roboto+Slab);

/*Color Refrences:
    Toucan Blue:    #2CCAD1
    Toucan Orange:  #F4914E
    Toucan Pink:    #E23764
    Dark Blue:      #00344E
    Light Blue:     #327FA5
    Blue Grey:      #384F5A
    Grey:           #71797C
    Powder:         #EBFAFB
    */

/*Heading 1 Style Guide*/
h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    color: #29C9D1;
    line-height: 45px;
}

/*Heading 2 Style Guide*/
h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 32px;
    color: #384F5A;
    line-height: 43px;
}

/*Heading 3 Style Guide*/
h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    color: #384F5A;
    line-height: 34px;
}

/*Heading 4 Style Guide*/
h4 {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    color: #384F5A;
    line-height: 28px;
}

/*Paragrah Text Style Guide */
p {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #71797C;
    line-height: 28px;
}

body {
	background-color:#EBFAFB;
    /*background: white url("images/kiosk.gif") no-repeat right bottom;*/
}
.kiosks {
    background-color:#eeeeee;
    color:white;
    margin:20px;
    padding:20px;
}
.sales_summary {
    background-color:#480000;
    color:white;
    margin:5px;
    padding:5px;
}

#header {

    background-color:#00344E;
    text-align:center;
    padding:5px;

}

#alert {
    background-color:#F4914E;
    width:90%;
    float:center;
}

#printQue {
    line-height:30px;
    background-color:#00344E;
    height:100%;
    width:400px;
    float:right;
    padding:5px;
}

#printStatus {
    background-color:#EBFAFB;
    width:90%;
    float:center;
    padding:5px;
    margin:10px;
}
#kioskFeed {
    background-color:#00344E;
    width:100%
    float:left;
    padding:10px;
    margin:10px;
}
#kioskStatus {
    background-color:#EBFAFB;
    width:90%;
    float:center;
    padding:10px;
    margin:15px;
}
#visitFeed {
    background-color:#00344E;
    float:left;
    width: 600px;
    padding:10px;
    margin:15px;
}
#visitDetail {
    background-color:#EBFAFB;
    width:90%;
    float:center;
    padding:10px;
    margin:20px;
}
#interactionDetail {
    background-color:#EBFAFB;
    width:90%;
    float:center;
    padding:0px;
    margin:0px;
    border:0px;
}
#footer {

    background-color:#00344E;
    color:white;
    clear:both;
    text-align:center;
    float:bottom;
    padding:5px;

}
